---
layout: layout.njk
title: salut smaug
---

<ul>
  {% for post in posts %}
  <li>
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
  </li>
  {% else %}
  <li>This would display if the 'item' collection were empty</li>
  {% endfor %}
</ul>
