---
title: My Rad Blog
---

<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <script src="/bootstrap.min.js"></script>
  </head>
  <body class="d-flex flex-column h-100">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            href="/"
            class="nav-link {{ 'active' if page.fileSlug === '' }}"
            aria-current="page"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/a-propos"
            class="nav-link {{ 'active' if page.fileSlug === 'about' }}"
            >À propos</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/posts/page-1"
            class="nav-link {{ 'active' if page.fileSlug === 'posts' }}"
            >Pagination</a
          >
        </li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>

    <main class="flex-shrink-0">
      {{ content | safe }}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
  </body>
</html>
